.copy {
  @include u-fontSize(16px);
  line-height: 1.65;
}

.copy--hero {
  @include u-fontSize(24px);
  @if ($uni-dir == 'ltr') {
    line-height: 1.5;
  } @else {
    line-height: 1.65;
  }
  font-weight: 400;
}
.copy--medium {
  @include u-fontSize(21px);
  @if ($uni-dir == 'ltr') {
    line-height: 1.5;
  } @else {
    line-height: 1.65;
  }
  font-weight: 300;
}


@include u-mediaQuery('wide') {
  .copy--hero {
    @include u-fontSize(32px);
    font-weight: 400;
  }
  .copy--medium {
    @include u-fontSize(28px);
    font-weight: 300;
  }
}