* {
  @include box-sizing(border-box);
}

html {
  @if ($uni-dir == 'ltr') {
    font: 400 14px "Open Sans", sans-serif;
  } @else {
    font: 400 14px "Droid Arabic Kufi", sans-serif;
  }
  color: $prj-color--gray-dark;
}


html,
body {
  height: 100%;
  background: #fff;
}

a {
  text-decoration: none;
  color: $prj-color--blue;
  &:hover,
  &:focus {
    color: $prj-color--purple;
  }


  @include transition-property(background, color, border);
  @include transition-duration(0.5s);
  // @include transition-delay(0, 0, 0.3s);
}

blockquote {
  border-left: 7px solid $prj-color--gray-silver;
  background-color: $prj-color--gray-light;
  @extend %u-paddingAS;
  @extend %u-marginSN;
}

hr {
  border-color: $prj-color--gray-silver;
}