$prj-color--green: #4eba6f;
$prj-color--green-light: #7aca93;

$prj-color--green-sea: #2E8B57;
$prj-color--green-sea-light: #66cdaa;

$prj-color--blue: #287eaa;
$prj-color--blue-light: #88c4e2;

$prj-color--blue-royal: #4167b1;
$prj-color--blue-royal-light: #a1c2ff;

$prj-color--night: #34495e;
$prj-color--night-light: #5a738c;

$prj-color--purple: #7b5294;
$prj-color--purple-light: #c4add2;

$prj-color--red: #cf423a;
$prj-color--red-light: #eda8a5;

$prj-color--ruby: #da2e75;
$prj-color--ruby-light: #e699aa;



$prj-color--gray-lighter: #f6f6f6;
$prj-color--gray-light: #f0f0f0;

$prj-color--gray-smoke: #eaeaea;
$prj-color--gray-silver: #e0e0e0;
$prj-color--gray-medium: #bababa;

$prj-color--gray-hard: #737373;
$prj-color--gray-dark: #575858;
$prj-color--gray-darker: #404040;

